footer {
    height: 470px;
    width: 100%;
    background-color: $genBlue;
    


    .blackFooter{
        height: 130px;
        width: 100%;
        background-color: $black;
        border-bottom: 5px solid white;
    }

}