//Colores
$black: #222222;
$grey: #5A5A5A;
$lightGrey: #E9E9E9;
$genBlue: #0E294B;
$cerulean: #0096D2;
$steelBlue: #4682B4;
$limeRoseGreen: #15490C;
$peaGreen: #5AC348;
$green: #1DD200;

//variables
    //variables de caja
    $heightBox: 22.5rem;
    $widthBox: 20%;
    $minHeightBox: 21.25rem;
    $bgColorBox: $lightGrey;
    $colorBox: $black;
    $paddingBox: 2.1875rem;
    $marginBox: 1.25rem 3.125rem;
    $borderBox: .0625rem solid $black;
    $txtAlignBox: center;
    $bRadiusBox: .1875rem;
    $transitionBox: 0.2;

