//Colores
$black: #222222;
$grey: #5A5A5A;
$lightGrey: #E9E9E9;
$genBlue: #0E294B;
$cerulean: #0096D2;
$steelBlue: #4682B4;
$limeRoseGreen: #15490C;
$peaGreen: #5AC348;
$green: #1DD200;

//variables
    //variables de caja
    $heightBox: 360px;
    $widthBox: 20%;
    $minHeightBox: 340px;
    $bgColorBox: $lightGrey;
    $colorBox: $black;
    $paddingBox: 35px;
    $marginBox: 20px 50px;
    $borderBox: 1px solid $black;
    $txtAlignBox: center;
    $bRadiusBox: 3px;
    $transitionBox: 0.2;

