


nav {

    /* Barra de navegacion */ 
    display: flex;
    position: absolute;
    height: 4.375rem;
    width: 100%;
    margin: 2.1875rem 0rem 0rem 0rem;
    background-color: $genBlue;
    padding-left: 2.1875rem;
    padding-right: .625rem;


    z-index: 2;
    

    @include boxShadow(0rem .75rem .5625rem rgba(0, 0, 0, 0.4), .125rem, 0);

    @include movil(){
        display: flex;
        position: fixed;
        height: 4.375rem;
        width: 100%;
        margin: 0;
        background-color: $genBlue;
        padding-left: 0;
        padding-right: 0;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        z-index: 1;
        box-shadow: .125rem .125rem 1.25rem;
    }
    
    .navLinks {
        width: 100%;
        align-items: center;
        display: flex;    
        list-style: none;
        //Ajustes de la barra de navegacion
        justify-content: right;
        padding-right: 1.125rem;


        li {
        display: flex;

            h2 {
                padding-left: .625rem;
                color: $steelBlue;


            }
            .logo {
                
                width: 100%;

                img {
                    width: 8rem;
                    padding: 0rem 0rem .625rem 2.8125rem;
                    justify-content: center;
                    vertical-align: middle;
                    transition: 0.4s;

                    @include movil(){
                        width: 4rem;
                        padding: 0rem 0rem 0rem .5rem;
                        justify-content: center;
                        vertical-align: middle;
                        transition: 0.4s;
                    }
        
                    &:hover {
                        width: 10rem;
                        padding-bottom: .625rem;
                        justify-content: center;
                        vertical-align: middle;
                        transition: 0.4s;
                        @include movil(){
                            width: 4rem;
                            padding-bottom: 0;
                            justify-content: center;
                            vertical-align: middle;
                            transition: 0.4s;
                        }
                    }
                
                }

                a {
                    width: 100%;


                }
            }



        
        
    
    
        
        }
        


        .search {
            padding-right: 1.625rem;
            @include cuatroTercios(){
                
            }
            @include tablet(){
                display: none;
            }
            @include movil(){
                display: none;
            }

            .input {
                border-width: .125rem;
                padding: .625rem 1.25rem .625rem .625rem;
                position: relative;
                //background-color: $steelBlue;
                box-shadow: inset .375rem .375rem .75rem rgba(0, 0, 0, 0.4);
                border-radius: .25rem;
                
                }
        }

        .carrito {
            opacity: 0.7;
            width: 2.5rem;
            transition: 0.4s;
        
            &:hover {
                opacity: 1;
                width: 2.5rem;
                transition: 0.4s; 
            }
        }

        .burgerMenu {

            max-height: 42px;
            padding-left: 15px;
            width: auto;

        }




    }

    .navLogo {
        justify-content: left;
    }



      
      .dropdown {
        position: relative;
        display: inline-block;
        
        &:hover {
            .dropdown-content {
                display: block;
            }
        }

        .dropdown-content {
            display: none;
            position: absolute;
            z-index: 1;
            right: 0;
            background-color: #f9f9f9;
            min-width: 250px;

    
         
            a {
                font-weight: 500;
                color: $genBlue;
                font-size: 20px;
                padding: 16px 10px;
                text-decoration: none;
                text-align: center;
                display: block;
                &:hover {
                    background-color: $genBlue;
                    color: $lightGrey;
                    font-weight: 600;
                }
              }
        }
    }


      

      




}