@import '../utilities/mixins';
@import '../utilities/variables';


.nav {

    /* Barra de navegacion */ 
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    margin: 35px 0px 0px 0px;
    background-color: $genBlue;
    padding-left: 35px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1;

    @include boxShadow(0px 12px 9px rgba(0, 0, 0, 0.4), 2px, 0);
    
    /* Elementos de la barra de navegacion */ 
    .nav-item a {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);

    /* Sombras texto */
    @include boxShadow(3px 3px 3px rgba(0, 0, 0, 0.25), 2px, 0.2);
}
  
.nav-item:hover {
    background-color: $steelBlue;
    transition: 0.4s;
    opacity: 1;
    
    /* Sombras texto */
    @include boxShadow();
}

    .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
        padding-right: 50px;

        .nav-links a:nth-of-type(1){
            display: flex;
            justify-content: space-between;
        }

        .nav-item {
            transition: 0.4s;
        }
    
        #register {
            display: inline-block;
            text-decoration: none;
            color: $lightGrey;
            margin: 0px 25px;  
            background: $peaGreen;
            opacity: 0.8;
            transition: 0.4s;
        
            /* Sombras texto */
            @include boxShadow();

            &:hover {
                color: $black;
                background-color: $green;
                opacity: 1;
                transition: 0.4s;
                /* Sombras texto */
                @include boxShadow();
            }
        }
        
    



        .carrito {
            opacity: 0.7;
            width: 40px;
            transition: 0.4s;
        
            &:hover {
                opacity: 1;
                width: 40px;
                transition: 0.4s; 
        
            }
        }

        .search {
            
            padding-right: 250px;
            
        }

        .input {
            border-width: 2px;
            padding: 10px 20px 10px 10px;
            position: relative;
            //background-color: $steelBlue;
            box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.4);
            border-radius: 4px;
        }
    }

.logo {


    img {
        width: 350px;
        padding-bottom: 10px;
        justify-content: center;
        vertical-align: middle;
        transition: 0.4s;

        &:hover {
            width: 450px;
            padding-bottom: 10px;
            justify-content: center;
            vertical-align: middle;
            transition: 0.4s;
        }
    }

}

}