@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    margin: 0
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

@mixin boxShadow( $boxShadow : 2px 2px 2px rgba(0, 0, 0, 0.25), $borderRadius : 1px, $transition : 0.2 ){
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    transition: $transition;
}

//Colores
    $black: #222222;
    $grey: #5A5A5A;
    $lightGrey: #E9E9E9;
    $genBlue: #0E294B;
    $cerulean: #0096D2;
    $steelBlue: #4682B4;
    $limeRoseGreen: #15490C;
    $peaGreen: #5AC348;
    $green: #1DD200;


    




section {
    overflow: hidden;
    padding: 0;
}

.logo {

}

.slider {
    /*background:rgba(0, 0, 0, 0) url(./img/slider1-1.jpg) no-repeat center;*/
   
    width: 100%;
    max-height: 540px;
    object-fit: cover;
    
}

.nav {

    /* Barra de navegacion */ 
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    margin: 35px 0px 0px 0px;
    background-color: $genBlue;
    padding-left: 35px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1;
    @include boxShadow(0px 12px 9px rgba(0, 0, 0, 0.4), 2px, 0);
    
    /* Elementos de la barra de navegacion */ 
    .nav-item a {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);

    /* Sombras texto */
    @include boxShadow(3px 3px 3px rgba(0, 0, 0, 0.25), 2px, 0.2);
}
  
.nav-item:hover {
    background-color: $steelBlue;
    transition: 0.4s;
    opacity: 1;
    
    /* Sombras texto */
    @include boxShadow();
}

    

    .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
        padding-right: 50px;

        .nav-links a:nth-of-type(1){
            display: flex;
            justify-content: space-between;
        }

        .nav-item {
            transition: 0.4s;
        }
    
        #register {
            display: inline-block;
            text-decoration: none;
            color: $lightGrey;
            margin: 0px 25px;  
            background: $peaGreen;
            opacity: 0.8;
            transition: 0.4s;
        
            /* Sombras texto */
            @include boxShadow();
        }
        
        #register:hover {
            color: $black;
            background-color: $green;
            opacity: 1;
            transition: 0.4s;
        
            /* Sombras texto */
            @include boxShadow();
        }
    
        .carrito {
            opacity: 0.7;
            width: 40px;
            transition: 0.4s;
        
            &:hover {
                opacity: 1;
                width: 40px;
                transition: 0.4s; 
        
            }
        }

        .search {
            
            padding-right: 250px;
            
            
            
        }

        .input {
            border-width: 2px;
            padding: 10px 20px 10px 10px;
            position: relative;
            background-color: $steelBlue;
            box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.4);
            border-radius: 2px;
        }
    }



}

.responsive {
    width: 100%;
    height: auto;
}

  
.logo img {
    width: 350px;

    &:hover {
        width: 450px;
    }
}

.logo img:hover {
    
}

.logo img, .logo img:hover {
    padding-bottom: 10px;
    justify-content: center;
    vertical-align: middle;
    transition: 0.4s;
}

.boxes {

    display: flex;
    justify-content: center;
    align-items: center;

    .blueBox {

        
        background-color: $genBlue;
        height: 342px;
        width: 342px;
        max-width: 342px;
        min-width: 342px;
        color: white;
        margin: 20px;
        text-align: center;

        
    
    }


}

