//SASS base
@import './sass/base/reset';
@import './sass/base/typography';
@import './sass/components/buttons';

//SASS layout
@import './sass/layout/footer';
@import './sass/layout/header';
@import './sass/layout/navigation';

//SASS pages
@import './sass/pages/contacto';
@import './sass/pages/especialistas';
@import './sass/pages/home';
@import './sass/pages/login';

//SASS themes
//@import './sass/themes/';

//SASS utilities
@import './sass/utilities/mixins';
@import './sass/utilities/variables';


.nav {

    /* Barra de navegacion */ 
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    margin: 35px 0px 0px 0px;
    background-color: $genBlue;
    padding-left: 35px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    z-index: 1;

    @include boxShadow(0px 12px 9px rgba(0, 0, 0, 0.4), 2px, 0);
    
    /* Elementos de la barra de navegacion */ 
    .nav-item a {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);

    /* Sombras texto */
    @include boxShadow(3px 3px 3px rgba(0, 0, 0, 0.25), 2px, 0.2);
}
  
.nav-item:hover {
    background-color: $steelBlue;
    transition: 0.4s;
    opacity: 1;
    
    /* Sombras texto */
    @include boxShadow();
}

    .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
        padding-right: 50px;

        .nav-links a:nth-of-type(1){
            display: flex;
            justify-content: space-between;
        }

        .nav-item {
            transition: 0.4s;
        }
    
        #register {
            display: inline-block;
            text-decoration: none;
            color: $lightGrey;
            margin: 0px 25px;  
            background: $peaGreen;
            opacity: 0.8;
            transition: 0.4s;
        
            /* Sombras texto */
            @include boxShadow();

            &:hover {
                color: $black;
                background-color: $green;
                opacity: 1;
                transition: 0.4s;
                /* Sombras texto */
                @include boxShadow();
            }
        }
        
    



        .carrito {
            opacity: 0.7;
            width: 40px;
            transition: 0.4s;
        
            &:hover {
                opacity: 1;
                width: 40px;
                transition: 0.4s; 
        
            }
        }

        .search {
            
            padding-right: 250px;
            
        }

        .input {
            border-width: 2px;
            padding: 10px 20px 10px 10px;
            position: relative;
            //background-color: $steelBlue;
            box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.4);
            border-radius: 4px;
        }
    }

.logo {


    img {
        width: 350px;
        padding-bottom: 10px;
        justify-content: center;
        vertical-align: middle;
        transition: 0.4s;

        &:hover {
            width: 450px;
            padding-bottom: 10px;
            justify-content: center;
            vertical-align: middle;
            transition: 0.4s;
        }
    }

}

}

.container {
    background-color: steelblue;
    position: relative;
    width: 500px;
    max-width: 700px;
    height: 500px;
  }

.slider {
    /*background:rgba(0, 0, 0, 0) url(./img/slider1-1.jpg) no-repeat center;*/
    display: flex;
    
    max-height: 545px;
    
    
    img {
        object-fit: cover;
        width: 100%;
    }

}


  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

.slider2 {
    /*background:rgba(0, 0, 0, 0) url(./img/slider1-1.jpg) no-repeat center;*/
    width: 100%;
    max-height: 540px;
    object-fit: cover;
    
}








//cajas inferiores
.boxes {

    display: flex;
    justify-content: center;
    align-items: center;


    .loginBox {
        @include box();
    }

    .blueBox {
        @include box( 30%, 20%, 342px, 342px, $genBlue, white, 35px, 20px 10px, 0px solid $black, center, 2px, 1, 8px 12px 4px rgba(0,0,0,0.4), 0.2);
        &:hover {
            background-color: $steelBlue;
            transition: 0.2;
        }
    }



    svg {
        width: 90px;
        height: 90px;
        padding-top: 10px;
        
            &:hover {
                max-width: 120px;
                max-height: 120px;
                
        }
    }
    
    p {
        padding-top: 30px;
    }

    h2 {
        padding-top: 15px;  
    }





}
